.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
bin/
out/
*.class
*.jar
!gradle/wrapper/*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
*.launch
.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store
Thumbs.db

.env
.env.local
.env.*.local

logs/
*.log
